/* -- begin MDUI stuff -- */
.mdui-typescale-display-large {
    line-height: var(--mdui-typescale-display-large-line-height);
    font-size: var(--mdui-typescale-display-large-size);
    letter-spacing: var(--mdui-typescale-display-large-tracking);
}
.mdui-typescale-display-medium {
    line-height: var(--mdui-typescale-display-medium-line-height);
    font-size: var(--mdui-typescale-display-medium-size);
    letter-spacing: var(--mdui-typescale-display-medium-tracking);
}
.mdui-typescale-display-small {
    line-height: var(--mdui-typescale-display-small-line-height);
    font-size: var(--mdui-typescale-display-small-size);
    letter-spacing: var(--mdui-typescale-display-small-tracking);
}

.mdui-typescale-headline-large {
    line-height: var(--mdui-typescale-headline-large-line-height);
    font-size: var(--mdui-typescale-headline-large-size);
    letter-spacing: var(--mdui-typescale-headline-large-tracking);
}
.mdui-typescale-headline-medium {
    line-height: var(--mdui-typescale-headline-medium-line-height);
    font-size: var(--mdui-typescale-headline-medium-size);
    letter-spacing: var(--mdui-typescale-headline-medium-tracking);
}
.mdui-typescale-headline-small {
    line-height: var(--mdui-typescale-headline-small-line-height);
    font-size: var(--mdui-typescale-headline-small-size);
    letter-spacing: var(--mdui-typescale-headline-small-tracking);
}

.mdui-typescale-title-large {
    line-height: var(--mdui-typescale-title-large-line-height);
    font-size: var(--mdui-typescale-title-large-size);
    letter-spacing: var(--mdui-typescale-title-large-tracking);
}
.mdui-typescale-title-middle {
    line-height: var(--mdui-typescale-title-middle-line-height);
    font-size: var(--mdui-typescale-title-middle-size);
    letter-spacing: var(--mdui-typescale-title-middle-tracking);
}
.mdui-typescale-title-small {
    line-height: var(--mdui-typescale-title-small-line-height);
    font-size: var(--mdui-typescale-title-small-size);
    letter-spacing: var(--mdui-typescale-title-small-tracking);
}

.mdui-typescale-label-large {
    line-height: var(--mdui-typescale-label-large-line-height);
    font-size: var(--mdui-typescale-label-large-size);
    letter-spacing: var(--mdui-typescale-label-large-tracking);
}
.mdui-typescale-label-middle {
    line-height: var(--mdui-typescale-label-middle-line-height);
    font-size: var(--mdui-typescale-label-middle-size);
    letter-spacing: var(--mdui-typescale-label-middle-tracking);
}
.mdui-typescale-label-small {
    line-height: var(--mdui-typescale-label-small-line-height);
    font-size: var(--mdui-typescale-label-small-size);
    letter-spacing: var(--mdui-typescale-label-small-tracking);
}

.mdui-typescale-body-large {
    line-height: var(--mdui-typescale-body-large-line-height);
    font-size: var(--mdui-typescale-body-large-size);
    letter-spacing: var(--mdui-typescale-body-large-tracking);
}
.mdui-typescale-body-middle {
    line-height: var(--mdui-typescale-body-middle-line-height);
    font-size: var(--mdui-typescale-body-middle-size);
    letter-spacing: var(--mdui-typescale-body-middle-tracking);
}
.mdui-typescale-body-small {
    line-height: var(--mdui-typescale-body-small-line-height);
    font-size: var(--mdui-typescale-body-small-size);
    letter-spacing: var(--mdui-typescale-body-small-tracking);
}
/* -- end MDUI stuff -- */

:root {
    --catalog-spacing-l: 16px;
    --fullscreen-weather-results-catalog-size: calc(100vw - 2 * var(--catalog-spacing-l));
    --full-weather-results-catalog-size: calc((100vh - 2 * var(--catalog-spacing-l)) / 11 * 8.5);
    --empty-weather-results-catalog-size: calc(var(--mdui-shape-corner-extra-large) * 2);
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;

    font-family: "Product Sans", sans-serif;
    font-weight: normal;

    /* user-select: none; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--mdui-color-surface-container)) !important;
    color: rgb(var(--mdui-color-on-surface-container));

    overflow: hidden;
}

#bodybox {
    display: flex;
    gap: var(--catalog-spacing-l);
    transition: gap 500ms cubic-bezier(0.38, 1.21, 0.22, 1.00);

    width: 100%;
    height: 100%;

    padding: var(--catalog-spacing-l);
}
.bodybox_element {
    height: 100%;
    border-radius: var(--mdui-shape-corner-extra-large);
    background-color: rgb(var(--mdui-color-background));
    color: rgb(var(--mdui-color-on-background));
    box-shadow: var(--mdui-elevation-level1);
}

.location_selector {
    position: relative;
    width: auto;
    flex-grow: 1;
}
#location-fab, #advanced-fab {
    position: absolute;
    right: var(--catalog-spacing-l);
    bottom: var(--catalog-spacing-l);
    z-index: 9999;
}
#disclaimer {
    position: absolute;
    left: var(--catalog-spacing-l);
    bottom: var(--catalog-spacing-l);
    z-index: 9999;
    
    margin: 0;
    padding: 0;
    opacity: 50%;
}
#map {
    position: absolute;
    border-radius: var(--mdui-shape-corner-extra-large);
    width: 100%;
    height: 100%;
}

#results {
    width: var(--empty-weather-results-catalog-size);

    transition: width 500ms cubic-bezier(0.38, 1.21, 0.22, 1.00);
    position: relative;
    /* overflow-y: scroll; */
    flex-grow: 0;
}

#vertical_notice {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 200ms cubic-bezier(0.34, 0.80, 0.34, 1.00); 
    opacity: 1;

    pointer-events: none;
}
#vertical_notice > p {
    writing-mode: vertical-rl;
}
#loading_screen {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: opacity 200ms cubic-bezier(0.34, 0.80, 0.34, 1.00); 
    opacity: 0;

    pointer-events: none;
}
#loaded_content {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;

    transition: opacity 200ms cubic-bezier(0.34, 0.80, 0.34, 1.00); 
    opacity: 0;
}
#non_advanced_menu {
    flex-grow: 0;
    width: var(--full-weather-results-catalog-size);
}
#advanced_menu {
    flex-grow: 1;
    width: 0;
}



.center-text { text-align: center; }
.container { padding: 1.5rem; }

.horizontal_topbar_idk {
    display: flex;
    justify-content: space-between;
}

.weather-cards {
    --shape-corner: var(--mdui-shape-corner-extra-large);
    box-shadow: var(--mdui-elevation-level2);
    flex: 1;
}

.results-gridbox {
    width: 100%;
    display: grid;
    gap: var(--catalog-spacing-l);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.chart_flex_div {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}